Repository ondecentral/Lucia-Browser-SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --quiet, yarn format

chore: rollback package version number
  package.json
Due: none

chore: rename package name
  CHANGELOG.md
  README.md
  package.json
  rollup.config.js
Due: eslint --fix --quiet, yarn format

feat: basic functionalities from old SDK
  README.md
  package.json
  src/base/index.ts
  src/constants.ts
  src/core/index.ts
  src/global.d.ts
  src/index.ts
  src/sdk/index.ts
  src/types.ts
  src/utils/data.ts
  src/utils/http-client.ts
  src/utils/logger.ts
  src/utils/store.ts
  yarn.lock
Due: eslint --fix --quiet, yarn format

Revert "Merge pull request #1 from ondecentral/feat/basic-migration"
  README.md
  package.json
  src/base/index.ts
  src/constants.ts
  src/core/index.ts
  src/global.d.ts
  src/index.ts
  src/sdk/index.ts
  src/types.ts
  src/utils/data.ts
  src/utils/http-client.ts
  src/utils/logger.ts
  src/utils/store.ts
  yarn.lock
Due: eslint --fix --quiet, yarn format

Revert "Revert "Merge pull request #1 from ondecentral/feat/basic-migration""
  README.md
  package.json
  src/base/index.ts
  src/constants.ts
  src/core/index.ts
  src/global.d.ts
  src/index.ts
  src/sdk/index.ts
  src/types.ts
  src/utils/data.ts
  src/utils/http-client.ts
  src/utils/logger.ts
  src/utils/store.ts
  yarn.lock
Due: eslint --fix --quiet, yarn format

fix: build script
  .github/workflows/publish.yml
Due: none

chore: add prettier
  package.json
  yarn.lock
Due: none

fix: add init
  src/core/index.ts
Due: eslint --fix --quiet, yarn format

feat: add debug url to use in local
  src/base/index.ts
  src/utils/http-client.ts
Due: eslint --fix --quiet, yarn format

feat: update init to return the instance
  src/index.ts
Due: eslint --fix --quiet, yarn format

chore: update types
  .eslintrc.js
  src/core/index.ts
  src/global.d.ts
  src/types.ts
Due: eslint --fix --quiet, yarn format

chore: update docs
  README.md
  src/core/index.ts
Due: eslint --fix --quiet, yarn format

build: use prepare lifecycle hook for npm install from github
  package.json
Due: none

build: add build to prepare lifecycle hook for npm install from github
  package.json
Due: none

build: split husky into its own npm command
  package.json
Due: none

fix: update license
  package.json
Due: none

ci: update pipeline to publish alphas from branches
  .github/workflows/publish.yml
Due: none

fix: fix release-it changelog
  .release-it.json
  CHANGELOG.md
  commitlint.config.js
Due: eslint --fix --quiet, yarn format

ci: split publish and release
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

fix: fix release and publish
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

fix: fix changelog generation
  .release-it.json
  CHANGELOG.md
Due: yarn format

feat: add github releases
  .github/workflows/release.yml
  .release-it.json
Due: none

feat: collect and send utm params on init
  CHANGELOG.md
  src/core/index.ts
  src/utils/data.ts
Due: eslint --fix --quiet, yarn format

feat: add walletName to sendWalletInfo
  src/core/index.ts
Due: eslint --fix --quiet, yarn format

docs: type of walletName is Metamask | Phantom
  src/core/index.ts
  src/types.ts
Due: eslint --fix --quiet, yarn format

init
  package-lock.json
  package.json
  src/core/index.ts
  src/utils/common.ts
  src/utils/solana.ts
  yarn.lock
Due: eslint --fix --quiet, yarn format

wallet detection and address capture
  src/core/index.ts
  src/utils/data.ts
  src/utils/evm.ts
Due: eslint --fix --quiet, yarn format

included address detection in user data which is passed to sdk api
  src/utils/data.ts
Due: eslint --fix --quiet, yarn format

WIP
  src/core/index.ts
  src/types.ts
Due: eslint --fix --quiet, yarn format

implemented EVM wallet capture
  src/utils/data.ts
  src/utils/evm.ts
Due: eslint --fix --quiet, yarn format

solana integration
  package.json
  src/utils/data.ts
  src/utils/solana.ts
  yarn.lock
Due: eslint --fix --quiet, yarn format

Solana and Ethereum connected address detection on page load
  src/utils/solana.ts
Due: eslint --fix --quiet, yarn format

capture eth and solana wallet data
  src/utils/data.ts
  src/utils/evm.ts
  src/utils/solana.ts
Due: eslint --fix --quiet, yarn format

feat: ethereum and solana browser wallet detection
  src/utils/data.ts
Due: eslint --fix --quiet, yarn format

feat: ethereum and solana browser wallet detection
  CHANGELOG.md
  src/core/index.ts
  src/utils/evm.ts
  src/utils/solana.ts
Due: eslint --fix --quiet, yarn format

feat: new wallet types and framework for easily adding new wallets
  src/utils/data.ts
  src/utils/evm.ts
Due: eslint --fix --quiet, yarn format

test: add tests
  .eslintrc.js
  .gitignore
  jest.config.js
  jest.setup.ts
  package.json
  src/__tests__/base/index.test.ts
  src/__tests__/core/index.test.ts
  src/__tests__/utils/data.test.ts
  src/__tests__/utils/http-client.test.ts
  src/__tests__/utils/store.test.ts
Due: eslint --fix --quiet, yarn format

chore: replace logging in wallet utils
  src/utils/evm.ts
  src/utils/solana.ts
Due: eslint --fix --quiet, yarn format

refactor: refactor session management
  jest.config.js
  src/__tests__/core/index.test.ts
  src/__tests__/utils/data.test.ts
  src/__tests__/utils/session.test.ts
  src/core/index.ts
  src/utils/data.ts
  src/utils/session.ts
Due: eslint --fix --quiet, yarn format

test: add tests for ethereum module
  jest.config.js
  src/__tests__/utils/evm.test.ts
Due: eslint --fix --quiet, yarn format

Path conditions:
  eslint --fix --quiet: any of: **/*.{js,ts}
  yarn format: any of: **/*.{js,ts,css,scss,md}
